/MANIFEST.bak
Makefile
Makefile.old
Build
Build.bat
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Ado-*
Ado-*.tar.gz
etc/ado_*.sqlite
etc/ado.sqlite
etc/ado.sqlite-journal
etc/ado.sqlite-shm
etc/ado.sqlite-wal
t/ado/etc/ado.sqlite


# Ignore mode specific configurations
etc/ado.dev*.conf
etc/plugins/**/*.*.conf
public/articles/**/*.html
public/articles/*.html
*.swp
/*.komodoproject
/tags
.tags*
*.iml
.idea
_Deparsed_XSubs.pm
log/development.log
log/production.log

log/apache*
.htaccess
*vhost.conf
*.sublime-project
*.sublime-workspace
